body{
    font-family: Arial, sans-serif;
    background-image:url('islamic_background_3.jpg') ;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

#main{
    width: 300px;
    margin: 100px auto;
}

#main h3{
    font-size: 1.1em;
    margin-bottom: 0px;
    padding: 0.3em;
    background: #71ca76;
    color: white;
    text-align: center;
}

#main table{
    border-collapse: collapse;
    width: 100%;
}

#main table td{
    font-size: 1em;
    padding: 0.5em;
}

#main table td:last-child{
    text-align: right;
}

#main table tr:nth-child(even){
    background-color: #e8e8e8; 
}

#main table tr:hover{
    background-color: #4ac550;
    color: white;
    cursor: pointer;
}